/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1440px;
    margin-left: 50px;
    margin-right: 50px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid,
.fa-regular {
    color: black;
}

.show-more {
    font-size: 18px;
    margin: 0px;
}

.fa-money-bill-wave,
.fa-person-dress,
.fa-heart,
.fa-fire {
    color: #0065FC;
    padding-right: 10px;
}

.fa-info {
    color: #0065FC;
}

.blue-star {
    color: #0065FC;
    font-size: 14px;
}

.grey-star {
    color: #F2F2F2;
    font-size: 14px;
}

.icon-container {
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.icon-container2 {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
}

.search-intro {
    font-size: 22px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 0px;
    text-decoration: none;
}

.search-intro-p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 30px;

}

.results {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-text {
    font-weight: 700;
    display: inline-block;
    font-size: 17px;
}

.filter-button {
    font-weight: 700;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #F2F2F2;
    padding: 4px 19px;
    gap: 10px;
    font-size: 17px;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

.filter-container {
    display: flex;
    align-items: center;
    margin: 50px 0;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 15px;
}

.results-container {
    width: 100%;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.search-container {
    width: 100%;

    box-sizing: border-box;
    display: inline;
}

.search {
    display: flex;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.dollar {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color);
}

.nav-link {
    padding-top: 10px;
    text-decoration: none;
    display: flex;
    justify-content: end;
    color: black;
    justify-content: space-between;
    margin-right: 20px;
}

#topnav {
    display: inline-flex;
    justify-content: space-between;
    font-size: 16px;
}

.nav-link:hover {
    border-top: #0065FC solid;
    color: #0065FC;
}

#header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    max-width: 1440px;
}

.search button {
    padding: 10px;
    background: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 93px;
    height: 49px;
    font-weight: 700;
    font-size: 18px;
}

.search input[type="text"] {
    padding: 14px 15px 15px 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.fa-search {
    display: none !important;
}

.booki-logo {
    width: 61.09px !important;
    height: 19px !important;
    padding-top: 25px;
    object-fit: contain;
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

/* For smaller screens, layout switches to column */
@media (max-width: 1024px) {
    .accommodation-and-popular {
        flex-direction: column;
    }


    .popular {
        width: 100%;
    }

}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}

.accommodation {
    margin: 0;
    flex: 1 1 100%;
}

.accommodation-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    height: 26px;
    width: 811px;
}

.accommodation-cards .card {
    flex: 1 1 calc(33.33% - 30px);
    /* This will ensure 3 cards per row with space between */
    box-sizing: border-box;
    height: auto;
    /* Let height adjust based on content */
}

.accommodation-cards {
    display: flex;
    flex-wrap: wrap;
    /* Allow the cards to wrap */
    gap: 30px;
    width: 100%;
    /* Ensure it takes full width of the container */
}


.accommodation-cards img {
    width: 100%;
    /* Make the image responsive, filling the card's width */
    height: 124px;
    /* Maintain the image's aspect ratio */
    max-width: 100%;
    /* Ensure the image doesn't stretch beyond its container */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    /* Ensure the image covers the space without distortion */
}


.accommodation-cards .card-content {
    width: 67%;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 5%;
}

.accommodation-cards .card-title {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 16px;
}

.accommodation-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.accommodation-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 8px;
    display: block;
}

/****** Popular ***********/
.popular {

    width: 100%;
    /* Initially, set popular section to full width */
    flex: 1 1 100%;
    gap: 30px
}


.popular-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.popular-cards .card {
    display: flex;
    margin-top: 10px;
    /* Reduce margin */
    width: 100%;
    margin-bottom: 30px;


}



.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}



/****** Things To Do ***********/
.things-to-do {
    width: 100%;
    padding-bottom: 30px;
    /* Adjusted for dynamic height */
}

.things-to-do-title {
    margin-bottom: 20px;
    margin-top: 45px;
}



.things-to-do-cards .card {
    /* Default width and flexible sizing */
    flex: 1 1 25%;
    /* Allow cards to grow, shrink, and start at 25% width */
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;



}

.things-to-do-cards img {
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.things-to-do-cards {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: nowrap;
    /* Prevent cards from wrapping to the next row */
    ;

}

.things-to-do .card-content {
    padding-left: 10px;
}




/****** Footer ***********/
.footer-container {
    display: flex;
    background-color: #F2F2F2;
    height: auto;
    padding-bottom: 20px;
    justify-content: space-between;
    max-width: 1440px;
}

.footer-text {
    font-weight: 700;
    padding-right: 20px;
    display: flex;
    flex-direction: column;

}

.right-footer,
.middle-footer,
.left-footer {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 15px;
    flex: 1;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.footer-header-text {
    font-weight: 700;
    margin-bottom: 0px;
}

/* Add Responsive Media Queries */
@media (max-width: 1024px) {


    body {
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Main Container Adjustments */
    .results-container {
        padding: 0 30px;
    }

    /* Accommodation Section */
    .accommodation-cards {
        justify-content: space-between;
    }

    .popular-cards .card {
        width: 30%;
        justify-content: space-between
    }

    /* Adjust Footer */
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .popular {
        width: auto;
        /* Make the Popular section take full width on smaller screens */
    }

    .accommodation-and-popular {
        flex-direction: column;
    }

    .popular-cards {
        display: flex;
        gap: 30px;
    }

    .accommodation {
        width: 100%;
    }

    .things-to-do-cards {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .things-to-do .card {

        justify-content: space-between;
        flex: 1 1 30%;
        /* Reduce card width to 30% on tablets */
    }

    .things-to-do img {
        height: 200px;
    }

    .things-to-do-title {
        margin-left: 20px;
    }

    .accommodation-cards img {
        height: 124px;
        /* Maintain image height within card */
        object-fit: cover;
        /* Ensure proper cropping */
    }

    .fa-search {
        display: none;
    }

    .footer-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}



/* Small screens (mobile devices) */

@media (max-width: 768px) {

    body {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    #header {
        flex-direction: column;
        /* Stack elements vertically */
        align-items: center;
        /* Center the items */
    }

    /* Optional: Adjust the logo size for mobile */
    .booki-logo {
        max-width: 120px;
        justify-content: center;
        padding-left: 0px;
    }


    #topnav {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* Center the links */
        margin-top: 1rem;
        /* Space between logo and links */
        gap: 70px;


    }

    .nav-link:hover {
        border-bottom: #0065FC solid;
        color: #0065FC;
        border-top: none;


    }

    .nav-link {
        margin: 1rem 0;
        /* Space between navigation links */
        margin-bottom: 30px;
    }

    .things-to-do-cards .card {
        flex: 1 1 45%;
        /* Reduce card width to 45% on mobile */
    }

    /* Optionally adjust card height on smaller screens */
    .things-to-do-cards .card {
        height: auto;
        /* Let height adjust based on content */
    }

    /* Hide the text on smaller viewports */
    .search button .button-text {
        display: none;
    }

    .search button .fa-search {
        display: inline-block !important;
        /* Show the magnifying glass icon */
    }

    .search button {
        width: 49px !important;
        height: 49px !important;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }



    .search-intro {
        margin-top: 100px;

    }


    .filter-buttons {
        flex-direction: row;
        justify-content: space-between;
        /* Space between buttons in each row */
    }

    .filter-button {
        flex: 1 1 45%;
        /* Make buttons take up 45% of the width */
        min-width: 120px;
        margin-bottom: 15px;

    }

    .filter-container {
        display: block;
        margin-top: 0px;
    }

    .filter-text {
        padding-left: 0px;
    }


    /* Change the order to display the popular section first on smaller screens */
    .accommodation {
        order: 2;
        /* Move accommodation section to second */

    }

    .popular {
        order: 1;
        padding-bottom: 0px;
        /* Move popular section to first */
    }

    .popular-cards,
    .accommodation-cards,
    .things-to-do-cards {
        display: block;
    }

    .popular-cards .card,
    .accommodation-cards .card {
        width: 100%;
        justify-content: center;
    }

    .accommodation-and-popular section {
        border-radius: 0px;
        padding-bottom: 0px;

    }

    .accommodation-and-popular {
        margin-left: 0px;
        margin-right: 0px;

    }

    .fa-chart-line {
        color: #0065FC;
    }

    .accommodation-cards .card,
    .things-to-do-cards .card {
        max-width: 100%;
        margin-bottom: 15px;

    }

    .accommodation {
        background-color: white !important;
        padding-top: 0px !important;
    }

    .footer-container {
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }



    #header,
    .search-intro,
    .search-intro-p,
    .filter-container,
    .search,
    .results {
        margin-right: 20px;
        margin-left: 20px;
    }


}